body {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    margin: 0;
}

body, button, input[type="date"] {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, 
        avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, 
        roboto, noto, arial, sans-serif;
}

button.add-new {
    margin-top: 1rem;
}

.done {
    text-decoration: line-through;
}

.edit-todo {
    grid-column: 2 / 3;
    margin-bottom: 1rem;
    padding: 0;
}

.form-field, .todo-property {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-bottom: 1rem;
}

input.title {
    margin-right: 1rem;
}

li {
    list-style: none;
}

.lists li {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 0;
}

main > * {
    margin-bottom: 1rem;
}

/* This padding provides the left alignment of elements in main 
   while allowing the todo item hover background color to extend to the edge */
main h1, main > div, .todos li, .lists, form.add-new {
    padding-left: 1rem;
}

nav {
    background: rgb(187, 187, 251);
    padding: 1rem;
}

nav ul {
    cursor: pointer;
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.options button, form.add-new button {
    margin-right: 1rem;
}

.summary .due {
    text-align: right;
}

.todos .summary, .todos .summary-inputs {
    display: grid;
    grid-template-columns: 200px 100px;
    padding: 0.5rem 0;
}

.todos li {
    align-items: center;
    display: grid;
    grid-template-columns: 30px 1fr;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.todos li.active .summary {
    font-weight: 700;
}

.todos li.collapsed:hover {
    background: #e8e8e8;
}

.todos .summary {
    cursor: pointer;
}

.todo-details {
    grid-column: 2 / 3;
    margin: 1rem 0;
    padding-bottom: 1rem;
}

.todo-details .list .clickable {
    cursor: pointer;
    color: blue;
}

ul {
    margin: 0;
    padding: 0;
}

