

body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    margin: 0;
}

body, button, input[type="date"] {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, 
        avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, 
        roboto, noto, arial, sans-serif;
}

.done {
    text-decoration: line-through;
}

.edit-todo {
    margin-bottom: 1rem;
}

.form-field {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

.lists li {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 0;
}

main > * {
    margin-bottom: 1rem;
}

nav {
    background: rgb(187, 187, 251);
    padding: 1rem;
}

nav ul {
    cursor: pointer;
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.todos li {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.todos li:hover {
    background: #e5e5e5;
}

ul {
    margin: 0;
    padding: 0;
}